<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

            </div>
        </div>

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>name</strong>: <%= yelpData.businesses[0].name %><br>
                    </p>
                    <p>
                        <strong>id</strong>: <%= yelpData.businesses[0].id %><br>
                    </p>
                    <p>
                        <strong>snippet_image_url</strong>: <%= yelpData.businesses[0].snippet_image_url %><br>
                    </p>
                    <p>
                        <strong>mobile_url</strong>: <%= yelpData.businesses[0].mobile_url %><br>
                    </p>
                    <p>
                        <strong>display_address</strong>: <%= yelpData.businesses[0].location.display_address %><br>
                    </p>
                    <a href="/userevents?name=:<%= yelpData.businesses[0].name%> &id=yelpData.businesses[0].id&image=yelpData.businesses[0].snippet_image_url&url=yelpData.businesses[0].mobile_url&location=yelpData.businesses[0].location.display_address" class="btn btn-default"><span class="fa fa-user"></span> AddToEvent</a>

                    <a href="/matchreq" class="btn btn-default"><span class="fa fa-user"></span> Requests</a>



            </div>
        </div>
       


    </div>

</div>
</body>
</html>